
/*--------------variables-------------*/
:root{
    --primary-text-color: #2E2F42;
    --primary-bg-color: #ffffff;
    --hero-background-color: #2E2F42;
    --team-background-colr: #F4F4FD;
    --accent-color: #4D5AE5;
    --logo-up-color: #2E2F42;
    --logo-down-color: #F4F4FD;
    --btn-portfolio-color:#4D5AE5;
    --btn-bg-portfolio-color: #F4F4FD;
    --hero-title-color: #FFFFFF;
    --features-paragraf-color: #434455;
    --job-color: #434455;
    --navigation: #2E2F42 ;
    --type-product-collor: #434455;
    --main-background-color: #FFFFFF;
    --light-background-color: #f4f4fd;
    --footer-background-color: #2E2F42;
    --customers-color: #8E8F99;
    --modal-lable: #8E8F99;
    --hover-green:#31D0AA;
    --main-transition: cubic-bezier(0.4, 0, 0.2, 1), 250ms;
    --modal: opacity 250ms linear,visibility 250ms linear
}



/*------------------cansalation-default-styles------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.img{
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}


/*-----------------------main-regulation------------------------*/
.body{
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}

.no-scroll{
    overflow: hidden;
}

.link{
    text-decoration: none;
}

.container {
    min-width: 320px;
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    
  }

.header{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

  .flex-header{
    display: flex;
    align-items: center;
  }

.site-navigation{
    display: none;
    
}

.conection-none{
    display: none;
    
}

.menu-open{
    width: 32px;
    height: 22px;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-left: auto;
}


.icon-hamburger{
    stroke: var(--primary-text-color);
    
}

.icon-hamburger:hover,
.icon-hamburger:focus{
    background-color:  #00000008;
    -webkit-box-shadow: 0px 1px 23px -7px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 1px 23px -7px rgba(0,0,0,0.16);
    box-shadow: 0px 1px 23px -7px rgba(0,0,0,0.60);
}

.hero-btn{
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    padding: 0;
    transition: var(--main-transition);
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: #404BBF;
}

.portfolio-btn{
    padding: 12px 24px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--btn-portfolio-color);
    background: var(--btn-bg-portfolio-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    transition: var(--main-transition);
}
.portfolio-btn:hover,
.portfolio-btn:focus{
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

.portfolio-btn-flex{
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

.logo-up{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-up-color);
    margin-right: 76px;
}
.logo-down{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-down-color);
    margin-bottom: 16px;
}
.logo-accent{
    text-transform: uppercase;
    color: var(--accent-color);
}

.navigation{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: var(--main-transition);
    position: relative;
}

.current{
    color: var(--accent-color);
}

.navigation.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: -27px;
    transition: var(--main-transition);
}
.navigation:hover,
.navigation:focus {
    color: var(--accent-color);
}
.navigation:hover::after,
.navigation:focus::after {
    color: var(--accent-color);
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: -27px;
    
    
}

.connection{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: var(--main-transition);
}

.connection:hover,
.connection:focus{
    color: #404BBF;
}


.galery-flex{
    display: flex;
    gap: 24px;
}

.footer{
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--footer-background-color);
}

.footer-section{
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.footer-text{
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}




.footer-social-paragraf{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-background-color);
    margin-bottom: 16px;
}

.foot-icons{
    display: flex;
    gap: 16px;
}

.foot-social-item{
    width: calc((100% - 48px) / 4);
}

.foot-link{
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: var(--main-transition);
}

.foot-link:hover, 
.foot-link:focus {
    background-color: var(--hover-green);
}

.subscribe{
    width: 100%;
}
.subscribe-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.subscribe-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.email-subscribe{
    width: 100%;
    height: 40px;
    padding-left: 16px;
    background-color: transparent;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}    
    
.button-subscribe{
    width: 165px;
    height: 40px;
    padding: 8px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: var(--main-background-color);
    background: var(--accent-color);
    border: none;
    border-radius: 4px;
    transition: var(--main-transition);
    gap: 16px;
}

.button-subscribe:hover,
.button-subscribe:focus{
    color: #FFFFFF;
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

}

.icon-send{
    fill: var(--main-background-color);
}

/*-----------------------modal-----------------------------*/

.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: var(--modal);
}

.modal{
    padding: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 392px;
    min-height: 576px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scaleY(1);
    transition: var(--main-transition);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scaleY(0)

}

.modal-button{
    display: flex;
    margin-left: 0;
}

.modal-close{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-bottom: 24px;
    width: 24px;
    height: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    cursor: pointer;
    transition: var(--main-transition);
}

.modal-close:hover,
.modal-close:focus{
    background: #404BBF;
    fill: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.114);
}


.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);   
    margin-bottom: 14px;
}

.modal-form-wrapper {
    display: flex;
    flex-direction: column;
}

.group{
    margin-bottom: 8px;
}

.group-privacy{
    margin-bottom: 24px;
}

.input-wrap{
    position: relative;
   
}

.label-wrap{
    margin-bottom: 4px;
}

.label-name{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--modal-lable);
    margin-bottom: 200px;
}

.label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--modal-lable);
}

.input-modal {
    width: 100%;
    height: 40px;
    padding-left: calc(12px + 18px + 11px);
    padding-right: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: var(--main-transition);
    outline: none;
    background-color: transparent;
  }

.input-modal::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.icon{
    position: absolute;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
}

.input-modal:focus{
    border-color: var(--accent-color);
    transition: var(--main-transition);
}
.input-modal:focus + .icon{
    fill: var(--accent-color);
    transition: var(--main-transition);
}

.input-textarea{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    padding: 8px 16px;
    resize: none;
}

.input-textarea::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.checkbox-label-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
.checkbox-label-text::before{
    content: '';
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    display: block;
    margin-right: 8px;
}

.checkbox:checked + .checkbox-label-text::before{
    background-color: var(--accent-color);
    border: none;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
}
*/

.checkbox-label-text span{
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
}

.checkbox-label-text:checked{
    color: var(--accent-color);
}

.checkbox:checked + .checkbox-label-text span{
    background-color: var(--accent-color);
    border: none;
    fill: var(--primary-bg-color);
   
}


.link-submit{
    color: var(--accent-color);
    text-decoration: underline;
}

.btn-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.button-submit{
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--main-background-color);
    background: var(--accent-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    transition: var(--main-transition);
    width: 169px;
    height: 56px;
    
}

.button-submit:hover,
.button-submit:focus{
    color: #FFFFFF;
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

}

/*-----------------------menu-mobile------------------*/


  
  .mob-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fff;
    padding: 24px 24px 40px 40px;
    transform: scaleY(1);
    transition: var(--main-transition);
    overflow: auto;
  }
  
  .mob-menu > .container-mob {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 288px;
    
  }
  
  .menu-close-btn {
    width: 24px;
    height: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    cursor: pointer;
    transition: var(--main-transition);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 32px;
  }
  
  .menu-close-btn:focus,
  .menu-close-btn:hover {
    background: #404BBF;
    fill: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.114);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
  }
  
  .mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }
  
  .mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--primary-text-color);
  }
  
  .mob-menu-link.current {
    color: var(--accent-color);
  }
  
  .mob-menu-contacts {
    margin-bottom: 48px;
  }
  
  .mob-menu-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-color);
    display: inline-block;
    margin-bottom: 40px;
  }
  
  .mob-menu-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
  }
  
  .mob-menu-soc-list {
    display: flex;
    gap: 56px;
  }
  
  .mob-menu-soc-item {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
  
  .mob-menu-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--main-transition);
  }
  
  .mob-menu-soc-link:focus,
  .mob-menu-soc-link:hover{
    transition: var(--main-transition);
    border: 1px solid rgba(0, 0, 0, 0.114);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  
  .mob-menu-soc-icon {
    width: 24px;
    height: 24px;
  }

/*----------------------main-page---------------------*/

.hero-section{   
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
    margin: auto;
    background-color: var(--hero-background-color);
    
    background-image: linear-gradient( to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../img/Hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-section {
    background-image: linear-gradient( to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url('../img/Hero-bg-mob-2x.jpg');
  }
  }

.hero-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--hero-title-color);
    margin-bottom: 72px;
}
.features-section{
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.flex-skills{
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
}
    
.icon-logo{
    display: none;
}



.skills-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--primary-text-color);
}

.skills-text{
    font-weight: 500px;
    height: 72px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--features-paragraf-color);
}
.galery-section{
    display: none;
    padding-bottom: 120px
}
.galery-title{
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    color: var(--primary-text-color);
}

.team-section> .container{
    padding-left: 16px;
    padding-right: 16px;
    width: 290px;
}

.team-section{
    background-color: var(--light-background-color);
    padding-top: 96px;
    padding-bottom: 128px;
}

.team-title{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    color: var(--primary-text-color);

}

.team-flex{
    display: flex;
    row-gap: 64px;
    flex-wrap: wrap;
}
.team-card{
    display: block;
    width: 100%;
    background-color: var(--main-background-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.card-container{
    align-items: center;
    text-align: center;
    padding: 32px 16px;
}

.name{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 8px;
}   

.job{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--job-color);
    margin-bottom: 8px;
}

.list-container {
    display: flex;
    
    justify-content: center;
    column-gap: 16px;
    row-gap: 72px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.card-link:hover,
.card-link:focus{
    background: #404BBF;
}

.card-link{
    padding: 12px;
    background-color: var(--accent-color);
    transition: var(--main-transition);
}



.customers-section{
    padding-top: 96px;
    padding-bottom: 96px;
}

.customer-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 72px;
}

.customers-title{
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    color: var(--primary-text-color);
}

.cust-list{
    width: calc((100% - 16px) / 2);

}

    .customer-link {
        width: 168px;
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 32px;
        fill: var(--customers-color);
        border: 1px solid var(--customers-color);
        border-radius: 4px;
        transition: var(--main-transition);
}

.customer-link:hover,
.customer-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.customer-link:hover .icon-customer,
.customer-link:focus .icon-customer{
    fill: var(--accent-color);
    transition: var(--main-transition);
}


/*--------------------portfolio-page-------------*/


.name-product{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    color: var(--primary-text-color);
}

.type-product{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--type-product-collor);
    padding-left: 16px;
    padding-right: 16px;
    }

.portfolio-section{
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-gallery-flex{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}

.portfolio-card{ 
    position: relative;  
    width: calc((100% - 48px) / 3);
    background-color: var(--main-background-color);
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: var(--main-transition);
}
.img{
    position: relative;

}

.overlay-portfolio{
    position: relative;
    overflow: hidden;

}
.overlay-text{
    position: absolute;
    top: 0;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding: 40px 32px;
    letter-spacing: 0.02em;
    color: var(--light-background-color);
    background-color: #4d5ae5e6;
    transform: translateY(100%);
    transition: var(--main-transition);
    overflow: auto;

}
.portfolio-card:hover ,
.portfolio-card:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    cursor: pointer;
}
.portfolio-card:hover .overlay-text,
.portfolio-card:focus .overlay-text {
    transform: translateY(0%);
}

.card-portfolio-container{
    padding: 32px 16px;
    background-color: var(--main-background-color);
    
    
}


