
/*--------------variables-------------*/
:root{
    --primary-text-color: #2E2F42;
    --primary-bg-color: #ffffff;
    --hero-background-color: #2E2F42;
    --team-background-colr: #F4F4FD;
    --accent-color: #4D5AE5;
    --logo-up-color: #2E2F42;
    --logo-down-color: #F4F4FD;
    --btn-portfolio-color:#4D5AE5;
    --btn-bg-portfolio-color: #F4F4FD;
    --hero-title-color: #FFFFFF;
    --features-paragraf-color: #434455;
    --job-color: #434455;
    --navigation: #2E2F42 ;
    --type-product-collor: #434455;
    --main-background-color: #FFFFFF;
    --team-background-color: #f4f4fd;
    --footer-background-color: #2E2F42;

}



/*------------------cansalation-default-styles------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.img{
    display: block;
}


/*-----------------------main-regulation------------------------*/
.body{
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}


.link{
    text-decoration: none;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 1px #4454e3;
  }

.header{
    border-bottom: 1px solid #E7E9FC;
}

  .flex-header{
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }

.site-navigation{
    margin-right: auto;
}

  .flex-nav{
    display: flex;
    gap: 40px;
  }

  .flex-connection{
    display: flex;
    gap: 40px;
  }

.hero-btn{
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    padding: 0;
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: #404BBF;
}

.portfolio-btn{
    padding: 12px 24px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--btn-portfolio-color);
    background: var(--btn-bg-portfolio-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}
.portfolio-btn:hover,
.portfolio-btn:focus{
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

.portfolio-btn-flex{
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

.logo-up{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-up-color);
    margin-right: 76px;
}
.logo-down{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-down-color);
    margin-bottom: 16px;
}
.logo-accent{
    text-transform: uppercase;
    color: var(--accent-color);
}

.navigation{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.navigation:hover,
.navigation:focus {
    color: var(--accent-color);
}

.connection{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.connection:hover,
.connection:focus{
    color: #404BBF;
}

.flex-skills{
    display: flex;
    gap: 24px;
}

.galery-flex{
    display: flex;
    gap: 24px;
}

.team-flex{
    display: flex;
    gap: 24px;
}

.team-card{
    display: block;
    width: calc((100%-72px)/4);
    background-color: var(--main-background-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.card-container{
    align-items: center;
    text-align: center;
    padding: 32px 16px;
}

.footer-text{
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}
.footer-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer{
    background-color: var(--footer-background-color);
}


/*----------------------main-page---------------------*/

.hero-section{   
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    margin: auto;
    background-color: var(--hero-background-color);
}

.hero-title{
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--hero-title-color);
    margin-bottom: 48px;
}
.features-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
    
.skills-title{
    font-weight: 500px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--primary-text-color);
}

.skills-text{
    width: 264px;
    height: 72px; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--features-paragraf-color);
}
.galery-section{
    padding-bottom: 120px
}
.galery-title{
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    color: var(--primary-text-color);
}

.team-section{
    background-color: var(--team-background-color);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title{
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    color: var(--primary-text-color);

}

.name{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 8px;
}   

.job{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--job-color);
}




/*--------------------portfolio-page-------------*/


.name-product{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    color: var(--primary-text-color);
}

.type-product{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--type-product-collor);
    padding-left: 16px;
    padding-right: 16px;
    }

.portfolio-section{
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-gallery-flex{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}

.portfolio-card{   
    width: calc((100% - 48px) / 3);
    background-color: var(--main-background-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.card-portfolio-container{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--main-background-color);
    
}


